.product {
  
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 15px 30px 0;
    width: 280px;
    max-height: 400px;
    height: 320px;
   
    
   }
   .product:hover{
    transform: scale(1.05);
    border: 1px solid #35BADB;
   }
   .product-image{
    max-width: 100%;
    width: 300px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 180px;
    object-fit: cover;
   }
   .product-details{
    display: flex;
    justify-content: space-between;
    padding: 8px 15px; 
   }
   .product-details__name{
    opacity: 0.8;
    font-weight: 500;
    margin: 0;
   }
   .product-details__price{
    font-weight: 500;
    opacity: 0.7;
    letter-spacing: 1px;
    margin: 0;
   }
.product-description{
    padding: 10px 15px;
}
.product-description-p{
    opacity: 0.6;
    margin: 0;
}

button{
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    cursor: pointer;
}
button:hover{
  transform: scale(1.1);
}
.btn-img{
      width: 16px;
      height: 16px;
}
.product-actions{
    display: flex;  
    
      
}
.product-actions__add{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 2px solid rgb(52, 186, 219);
}
.product-actions__remove{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 2px solid indianred;
}
    