.product {
   
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 0 10px 30px 0;
    width: 160px;
    height: 420px;
    padding-bottom:60px
    
   }
   .product:hover{
    transform: scale(1.05);
    border: 1px solid #35BADB;
   }
   .product-image{
    
    max-width: 100%;
    width: 180px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    height: 280px;
    object-fit: cover;
   }
   .product-details{
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  
   }
   .product-details__name{
    padding-top: 5px;
    opacity: 0.9;
    font-weight: 500;
    margin: 0;
    width: 160px;
    height: 50px;
   }
   .product-details__author{
    font-weight: 500;
    opacity: 0.7;
    letter-spacing: 1px;
    margin: 0;
   }

  
.product-description{
    padding: 10px 15px;
}
.product-description-p{
    opacity: 0.6;
    margin: 0;
}
button{
  border-radius: 50%;
 
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
}

button:hover{
  transform: scale(1.1);
}
.btn-img{
      width: 16px;
      height: 16px;
}
.product-actions{
    display: flex;  
    padding-top: 10px;
      
}
.product-actions__add{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 2px solid rgb(52, 186, 219);
}
.product-actions__remove{
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  cursor: pointer;
  border: 2px solid indianred;
}
    